{% extends "myapp/base.html" %}

{% block content %}
    <h1 class="message">You have been logout</h1>
    <style>


        .message {
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
        text-align: center;
        background-color: blue;
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size:50px;
    }
    </style>
{% endblock content %}